/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

#formulario-container {
    text-align: center;
    margin-top: 20px; /* Espaço acima do formulário */
}

h1 {
    color: #3498db;
}

/* Container para as caixas de inserção de texto */
.linha {
    display: flex;
    align-items: center; /* Alinhar itens verticalmente no centro */
    margin: 10px 0; /* Adicionar espaçamento entre as linhas */
}

.numero-linha {
    width: 5%; /* Largura do indicador de linha */
    padding-right: 10px; /* Espaçamento à direita do indicador de linha */
    font-weight: bold; /* Texto em negrito */
}

/* Estilos para cada caixa de inserção de texto */
.caixas-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Estilos para cada caixa de inserção de texto */
.caixa {
    width: 18%; /* Ajuste conforme necessário */
    margin: 5px;
}

label, input {
    width: 100%; /* As caixas ocupam toda a largura da .caixa */
    margin-top: 5px;
}

button {
    background-color: #4caf50; /* Cor verde para o botão */
    color: white; /* Texto branco no botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor do mouse */
    margin-top: 20px; /* Espaço acima do botão */
}

/* Efeito de hover para o botão */
button:hover {
    background-color: #45a049;
}
