/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #3498db;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50; /* Cor verde para o botão */
    color: white; /* Texto branco no botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor do mouse */
}

/* Efeitos quando o mouse passa sobre o botão */
button:hover {
    background-color: #45a049;
}
